, #snowflake-11@-webkit-keyframes snowflake{
  0% { margin-left: 0; top: 0; opacity: 1}
  16% { margin-left: 15px; }
  33% { margin-left: -15px; }
  50% { margin-left: 15px; }
  75% { margin-left: -15px; }
  100% { margin-left: 0; top: 100%; }
}
@-moz-keyframes snowflake{
  0% { margin-left: 0; top: 0; opacity: 1}
  16% { margin-left: 15px; }
  33% { margin-left: -15px; }
  50% { margin-left: 15px; }
  75% { margin-left: -15px; }
  100% { margin-left: 0; top: 100%; }
}
@-ms-keyframes snowflake{
  0% { margin-left: 0; top: 0; opacity: 1}
  16% { margin-left: 15px; }
  33% { margin-left: -15px; }
  50% { margin-left: 15px; }
  75% { margin-left: -15px; }
  100% { margin-left: 0; top: 100%; }
}
@-o-keyframes snowflake{
  0% { margin-left: 0; top: 0; opacity: 1}
  16% { margin-left: 15px; }
  33% { margin-left: -15px; }
  50% { margin-left: 15px; }
  75% { margin-left: -15px; }
  100% { margin-left: 0; top: 100%; }
}
@keyframes snowflake{
  0% { margin-left: 0; top: 0; opacity: 1}
  16% { margin-left: 15px; }
  33% { margin-left: -15px; }
  50% { margin-left: 15px; }
  75% { margin-left: -15px; }
  100% { margin-left: 0; top: 100%; }
}


#snowflake-1, #snowflake-12{
  -webkit-animation: snowflake 15s linear infinite;
  -moz-animation: snowflake 15s linear infinite;
  -ms-animation: snowflake 15s linear infinite;
  -o-animation: snowflake 15s linear infinite;
  animation: snowflake 15s linear infinite;
}
#snowflake-2, #snowflake-13{
  -webkit-animation: snowflake 15s linear infinite 2s;
  -moz-animation: snowflake 15s linear infinite 2s;
  -ms-animation: snowflake 15s linear infinite 2s;
  -o-animation: snowflake 15s linear infinite 2s;
  animation: snowflake 15s linear infinite 2s;
}
#snowflake-3, #snowflake-14{
  -webkit-animation: snowflake 15s linear infinite 3s;
  -moz-animation: snowflake 15s linear infinite 3s;
  -ms-animation: snowflake 15s linear infinite 3s;
  -o-animation: snowflake 15s linear infinite 3s;
  animation: snowflake 15s linear infinite 3s;
}
#snowflake-4, #snowflake-15{
  -webkit-animation: snowflake 15s linear infinite 4.5s;
  -moz-animation: snowflake 15s linear infinite 4.5s;
  -ms-animation: snowflake 15s linear infinite 4.5s;
  -o-animation: snowflake 15s linear infinite 4.5s;
  animation: snowflake 15s linear infinite 4.5s;
}
#snowflake-5, #snowflake-16, #snowflake-22{
  -webkit-animation: snowflake 15s linear infinite 6s;
  -moz-animation: snowflake 15s linear infinite 6s;
  -ms-animation: snowflake 15s linear infinite 6s;
  -o-animation: snowflake 15s linear infinite 6s;
  animation: snowflake 15s linear infinite 6s;
}
#snowflake-6, #snowflake-18{
  -webkit-animation: snowflake 15s linear infinite 7s;
  -moz-animation: snowflake 15s linear infinite 7s;
  -ms-animation: snowflake 15s linear infinite 7s;
  -o-animation: snowflake 15s linear infinite 7s;
  animation: snowflake 15s linear infinite 7s;
}
#snowflake-7, #snowflake-17{
  -webkit-animation: snowflake 15s linear infinite 8.5s;
  -moz-animation: snowflake 15s linear infinite 8.5s;
  -ms-animation: snowflake 15s linear infinite 98.5ss;
  -o-animation: snowflake 15s linear infinite 8.5s;
  animation: snowflake 15s linear infinite 8.5s;
}
#snowflake-8, #snowflake-19{
  -webkit-animation: snowflake 15s linear infinite 9.2s;
  -moz-animation: snowflake 15s linear infinite 9.2s;
  -ms-animation: snowflake 15s linear infinite 9.2s;
  -o-animation: snowflake 15s linear infinite 9.2s;
  animation: snowflake 15s linear infinite 9.2s;
}
#snowflake-9, #snowflake-20{
  -webkit-animation: snowflake 15s linear infinite 10s;
  -moz-animation: snowflake 15s linear infinite 10s;
  -ms-animation: snowflake 15s linear infinite 10s;
  -o-animation: snowflake 15s linear infinite 10s;
  animation: snowflake 15s linear infinite 10s;
}
#snowflake-10, #snowflake-21{
  -webkit-animation: snowflake 15s linear infinite 12s;
  -moz-animation: snowflake 15s linear infinite 12s;
  -ms-animation: snowflake 15s linear infinite 12s;
  -o-animation: snowflake 15s linear infinite 12s;
  animation: snowflake 15s linear infinite 12s;
}

.svg_lights_layer{
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}



#stars path{
   opacity: 1;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
